footer {
  background-color: $darkbase;
  padding: 4rem 0 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;

  @media (min-width: 768px) {
    // height: 291px;
    padding: 4rem 0;
  }

  .AddressWithSocial {
    display: block;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding-bottom: 2rem;
    border-bottom: thin solid rgba($white, 0.1);

    @media (min-width: 768px) {
      display: flex;
    }

    .AddressBlock {
      flex-basis: 70%;
      display: block;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      @media (min-width: 768px) {
        display: flex;
      }

      .Address {
        //flex-basis: 50%;
        padding-right: 6rem;

        @media (max-width: 768px) {
          padding-right: 0rem;

          &:last-child {
            margin-top: 2rem;
          }
        }

        h4 {
          color: $white;
          font-size: 1em;
          text-transform: uppercase;
          font-weight: 600;
          font-family: $secondaryFont;
          display: flex;
          align-items: center;

          img {
            margin-right: 0.5em;
          }
        }

        p {
          color: $white;
          margin-bottom: 0;
          font-family: $secondaryFont;
          font-size: 0.8em;
          margin-left: 1.8em;

          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }

    .SocialBlock {
      flex-basis: 30%;
      display: block;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
      margin-top: 2rem;

      @media (min-width: 768px) {
        display: flex;
        margin-top: 0;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        li {
          margin-right: 2.5rem;

          &:last-child {
            margin-right: 0;
          }

          a {
            opacity: 1;
            transition: 0.3s all;

            &:hover {
              opacity: 0.75;
            }

            img {
              max-width: 75%;
            }
          }
        }
      }
    }
  }

  .CopyrightWithLinks {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;

    .Copyright {
      flex-basis: 50%;

      p {
        margin-bottom: 0;
        // text-transform: uppercase;
        color: $white;
        font-size: 0.8em;
        font-family: $secondaryFont;
      }
    }

    .QuickLink {
      flex-basis: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        li {
          margin-right: 3rem;

          &:last-child {
            margin-right: 0;
          }

          a {
            opacity: 1;
            transition: 0.3s all;
            color: $white;
            font-size: 0.8em;
            font-family: $secondaryFont;
            text-decoration: none;

            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
    }
  }
}

main {
  position: relative;
  z-index: 9;
  background-color: $white;
  //@include: 50rem;

  @media (min-width: 400px) {
    // margin-bottom: 40rem;
  }

  @media (min-width: 768px) {
    // margin-bottom: 291px;
  }
}

body.rtl {
  footer {
    background-color: $darkbase;
    padding: 4rem 0 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;

    @media (min-width: 768px) {
      // height: 291px;
      padding: 4rem 0;
    }

    .AddressWithSocial {
      display: block;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      margin-top: 4rem;
      padding-bottom: 2rem;
      border-bottom: thin solid rgba($white, 0.1);

      @media (min-width: 768px) {
        display: flex;
      }

      .AddressBlock {
        flex-basis: 70%;
        display: block;
        align-items: flex-start;
        justify-content: flex-end;
        flex-wrap: wrap;

        @media (min-width: 768px) {
          display: flex;
        }

        .Address {
          //flex-basis: 50%;
          padding-right: 0;
          padding-left: 6rem;

          @media (max-width: 768px) {
            padding-right: 0rem;

            &:last-child {
              margin-top: 2rem;
            }
          }

          h4 {
            color: $white;
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 600;
            font-family: $secondaryFont;
            display: flex;
            align-items: center;

            flex-direction: row-reverse;

            img {
              margin-right: 0;
              margin-left: 0.5em;
            }
          }

          p {
            color: $white;
            margin-bottom: 0;
            font-family: $secondaryFont;
            font-size: 0.8em;
            margin-left: 1.8em;

            a {
              text-decoration: none;
              color: inherit;
            }
          }
        }
      }

      .SocialBlock {
        flex-basis: 30%;
        display: block;
        align-items: flex-end;
        justify-content: flex-start;
        height: 100%;
        margin-top: 2rem;

        @media (min-width: 768px) {
          display: flex;
          margin-top: 0;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;

          li {
            margin-right: 2.5rem;

            &:last-child {
              margin-right: 0;
            }

            a {
              opacity: 1;
              transition: 0.3s all;

              &:hover {
                opacity: 0.75;
              }

              img {
                max-width: 75%;
              }
            }
          }
        }
      }
    }

    .CopyrightWithLinks {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      padding-top: 2rem;

      .Copyright {
        flex-basis: 50%;

        p {
          margin-bottom: 0;
          // text-transform: uppercase;
          color: $white;
          font-size: 0.8em;
          font-family: $secondaryFont;
        }
      }

      .QuickLink {
        flex-basis: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;

          li {
            margin-right: 3rem;

            &:last-child {
              margin-right: 0;
            }

            a {
              opacity: 1;
              transition: 0.3s all;
              color: $white;
              font-size: 0.8em;
              font-family: $secondaryFont;
              text-decoration: none;

              &:hover {
                opacity: 0.75;
              }
            }
          }
        }
      }
    }
  }
}

html[dir="rtl"] {
  body {
    footer {
      .AddressWithSocial {
        .AddressBlock {
          .Address {
            padding-right: unset;
            padding-left: 6rem;

            @media (max-width: 768px) {
              padding-right: 0rem;

              &:last-child {
                margin-top: 2rem;
              }
            }
            img {
              margin-right: unset;
              margin-left: 0.5em;
            }
          }
        }
        .SocialBlock {
          ul {
            li {
              margin-right: unset;
              margin-left: 2.5rem;

              &:last-child {
                margin-right: unset;
                margin-left: 0;
              }
            }
          }
        }
      }

      .CopyrightWithLinks .QuickLink {
        ul {
          li {
            margin-right: unset;
            margin-left: 3rem;

            &:last-child {
              margin-right: unset;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
