header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 99;
  padding: 2em 0;
  transition: 0.3s all;

  .container {
    max-width: 100%;
    padding: 0 1em;

    @media (min-width: 768px) {
      padding: 0 2em;
    }
  }

  &.HeaderBg {
    position: fixed !important;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em 0;
    // background: transparent linear-gradient(0deg, #d3d3d3, #fff) 0 0 no-repeat padding-box;
    transition: 0.3s all;

    nav {
      ul {
        li {
          a {
            color: $base !important;

            &:hover {
              color: $sky !important;
            }
          }
        }
      }
    }
  }

  &.NormalHeader {
    position: inherit;
    transition: 0.3s all;

    @media (max-width: 767px) {
      border-bottom: thin solid rgba($base, 0.25);
    }

    .NavigationBlock {
      nav {
        ul {
          li {
            a {
              color: $base;

              &:hover {
                color: $sky;
              }
            }
          }
        }
      }
    }
  }

  &.DarkNavigation {
    .NavigationBlock {
      nav {
        ul {
          li {
            a {
              color: $base;

              &:hover {
                color: $sky;
              }
            }
          }
        }
      }
    }
  }

  .NavigationBlock {
    height: 100%;

    nav {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-left: 0.9rem;

          @media (min-width: 1024px) {
            margin-left: 3rem;
          }

          @media (min-width: 1299px) {
            margin-left: 4rem;
          }

          &:first-child {
            margin-left: 0;
          }

          a {
            color: $white;
            text-decoration: none;
            // text-transform: uppercase;
            font-size: 0.8em;
            font-family: $secondaryFont;
            transition: 0.3s all;
            position: relative;
            display: block;

            &:hover {
              &:before {
                transform-origin: left;
                transform: scaleX(1);
              }
            }

            &:before {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 100%;
              height: 1px;
              background: linear-gradient(
                90deg,
                #a8dbf8,
                #7395e6 33%,
                #8889e7 66%,
                #a876e9
              );
              transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1),
                background-color 0.25s ease-out;
              transform-origin: right;
              transform: scaleX(0);
            }
          }
        }
      }

      .MenuCloser {
        margin-left: 2rem;

        a {
          position: relative;
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.2rem;
          font-family: $secondaryFont;
          transition: 0.3s all;

          &:before {
            content: "";
            position: absolute;
            right: -20px;
            background: url(../img/hover-element.svg) no-repeat;
            width: 32px;
            height: 46px;
            top: -16px;
            transition: 0.3s all;
            opacity: 0;
            visibility: hidden;
          }

          &:hover {
            &:before {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }

  .LogoBox {
    position: relative;
    display: flex;

    .NormalLogo {
      opacity: 1;
      visibility: visible;
      display: inline-flex;
      transition: 0.2s all;
    }

    .WhiteLogo {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: 0.2s all;
      visibility: hidden;
    }
  }

  &.MobileHeader {
    position: static;

    .NavigationBlock {
      ul {
        li {
          &.menu {
            position: absolute;
            z-index: 105;
            right: 5rem;
            top: 28px;

            a {
              color: $white;
            }
          }
        }
      }
    }
  }

  .MobileOnly {
    .menu {
      a {
        color: $base;
      }
    }
  }
}

.menuToggler {
  @media (max-width: 767px) {
    height: 100%;
  }

  a {
    position: relative;
    color: $base;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: $secondaryFont;
    transition: 0.3s all;

    &:hover {
    }
  }
}

.bodyDark {
  transition: 0.2s all;

  header {
    .LogoBox {
      .NormalLogo {
        opacity: 1 !important;
        visibility: visible !important;

        @media (min-width: 768px) {
          opacity: 0 !important;
          visibility: hidden !important;
        }
      }

      .WhiteLogo {
        opacity: 0 !important;
        visibility: hidden !important;

        @media (min-width: 768px) {
          opacity: 1 !important;
          visibility: visible !important;
        }
      }
    }
  }
}

.LeftDarkRightWhite {
  transition: 0.2s all;

  header {
    .NavigationBlock {
      nav {
        ul {
          li {
            a {
              color: $base;

              &:hover {
                color: $sky;
              }
            }
          }
        }
      }
    }

    .LogoBox {
      .NormalLogo {
        opacity: 1;
        visibility: visible;

        @media (min-width: 768px) {
          opacity: 0;
          visibility: hidden;
        }
      }

      .WhiteLogo {
        opacity: 0;
        visibility: hidden;

        @media (min-width: 768px) {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.bodyWhite {
  header {
    .NavigationBlock {
      nav {
        ul {
          li {
            a {
              color: $base;

              &:hover {
                color: $sky;
              }
            }
          }
        }
      }
    }
  }
}

.testimonialDark {
  header {
    .NavigationBlock {
      nav {
        ul {
          li {
            a {
              color: #949696;

              &:hover {
                color: $sky;
              }
            }
          }
        }
      }
    }
  }
}

body {
  &.overflowhidden {
    overflow-y: hidden;
  }
}

/*.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('../images/loader.gif');
   background-repeat: no-repeat; 
   background-color: #FFF;
   background-position: center;
}*/

#status {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  z-index: 9999;
  /* path to your loading animation */
  margin: -50px 0 0 -50px;
  /* is width and height divided by two */
}

.menu {
  z-index: 999;
  /*font-size:30px;*/

  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
}

body.rtl {
  .menu {
    justify-content: flex-start;
  }
}

.menu a {
  text-decoration: none;
}

/*overlay*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #333;
  overflow: auto;
  z-index: 99;

  .sub-menu {
    padding: 2rem;
    background-size: cover !important;
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    z-index: 99;
    overflow: hidden;

    @media (min-width: 768px) {
      align-items: center;
      padding: 5rem;
    }

    &.oppenned {
      right: 0;
      /*&:before{
            width: 100%;
        }
        &:after{
            height: 100%;
        }*/
    }

    .LogoNav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        width: 10rem;
      }

      .Menu {
        display: block;
        padding-right: 5rem;
        position: relative;
        transition: all 0.5s ease;

        a {
          color: $white;
          cursor: pointer;
        }

        &:after {
          content: "";
          position: absolute;
          width: 40px;
          height: 1px;
          background-color: rgba($white, 0.5);
          top: 50%;
          right: 0;
        }

        &:before {
          content: "";
          position: absolute;
          width: 15px;
          height: 2px;
          background-color: rgba($white, 0.75);
          top: 49.75%;
          right: 26px;
          transition: all 0.5s ease;
        }

        &:hover {
          a {
            color: $sky;
          }

          &:before {
            width: 40px;
            right: 0;
            background-color: rgba($sky, 0.75);
          }
        }

        a {
          position: relative;
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.2rem;
          font-family: $secondaryFont;
          transition: 0.3s all;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-top: 3rem;

        &:first-child {
          margin-top: 0;
        }

        a {
          font-size: 1.8rem;
          font-family: $secondaryFont;
          color: $white;
          text-decoration: none;
          transition: all 0.75s ease;

          &:hover {
            color: $sky;
          }
        }
      }
    }
  }
}
body.rtl {
  .overlay .sub-menu .LogoNav {
    flex-direction: row-reverse;
  }
}
body.rtl {
  header {
    .container {
      .row {
        flex-direction: row-reverse;
      }
    }

    .NavigationBlock {
      nav {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        ul {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0;
          padding: 0;
          list-style: none;
          flex-direction: row-reverse;

          li {
            margin-right: 0.9rem;
            margin-left: unset;
            @media (min-width: 1024px) {
              margin-left: unset;
              margin-right: 3rem;
            }

            @media (min-width: 1299px) {
              margin-left: unset;
              margin-right: 4rem;
            }

            &:first-child {
              margin-left: unset;
              margin-right: 0;
            }
          }
        }

        .menu {
          margin-left: 2rem;
        }
      }
    }

    .LogoBox {
      position: relative;
      display: flex;
      justify-content: flex-end;
    }
  }
}

html[dir="rtl"] {
  body {
    header {
      .NavigationBlock {
        nav {
          ul {
            li {
              margin-left: unset;
              margin-right: 0.9rem;

              @media (min-width: 1024px) {
                margin-left: unset;
                margin-right: 3rem;
              }

              @media (min-width: 1299px) {
                margin-left: unset;
                margin-right: 4rem;
              }
            }
          }

          .MenuCloser {
            margin-left: 2rem;
            // border: 1px solid red;
          }
        }
      }

      .overlay {
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        background: #333;
        overflow: auto;
        z-index: 99;

        .sub-menu {
          padding: 2rem;
          background-size: cover !important;
          height: 100%;
          width: 100%;
          margin: 0;
          border-radius: 0;
          z-index: 99;
          overflow: hidden;

          @media (min-width: 768px) {
            align-items: center;
            padding: 5rem;
          }

          &.oppenned {
            right: 0;
            /*&:before{
            width: 100%;
        }
        &:after{
            height: 100%;
        }*/
          }

          .LogoNav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
              width: 10rem;
            }

            .Menu {
              display: block;
              padding-right: 5rem;
              position: relative;
              transition: all 0.5s ease;

              a {
                color: $white;
                cursor: pointer;
              }

              &:after {
                content: "";
                position: absolute;
                width: 40px;
                height: 1px;
                background-color: rgba($white, 0.5);
                top: 50%;
                right: 0;
              }

              &:before {
                content: "";
                position: absolute;
                width: 15px;
                height: 2px;
                background-color: rgba($white, 0.75);
                top: 49.75%;
                right: 26px;
                transition: all 0.5s ease;
              }

              &:hover {
                a {
                  color: $sky;
                }

                &:before {
                  width: 40px;
                  right: 0;
                  background-color: rgba($sky, 0.75);
                }
              }

              a {
                position: relative;
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.2rem;
                font-family: $secondaryFont;
                transition: 0.3s all;
              }
            }
          }

          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              margin-top: 3rem;

              &:first-child {
                margin-top: 0;
              }

              a {
                font-size: 1.8rem;
                font-family: $secondaryFont;
                color: $white;
                text-decoration: none;
                transition: all 0.75s ease;

                &:hover {
                  color: $sky;
                }
              }
            }
          }
        }
      }
    }
  }
}
