.BgVideoWithFiveCards {
  background-size: 100% !important;
  background-position: center !important;
  background-color: #000 !important;
  padding: 4rem 0;
  overflow-x: hidden;
  overflow-y: hidden;
  //min-height: 100vh;
  position: relative;

  @media (min-width: 992px) {
    padding: 9rem 0;
  }

  video {
    display: block;
    position: absolute;
    width: 90%;
    // object-fit: fill;
    // height: 100vh;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 991px) {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      transform: none;
    }
  }

  .container {
    z-index: 2;
    position: relative;
  }

  .TopHeading {
    margin-bottom: 2rem;

    @media (min-width: 992px) {
      margin-bottom: 6rem;
    }

    h2 {
      text-align: center;
      color: $white;
      line-height: 1;
    }
  }

  .FiveCardsBlock {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    @media (min-width: 992px) {
      padding: 0 5rem;
    }

    .TwoCardsRow {
      display: block;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 0rem;
      width: 85%;
      margin-right: auto;
      margin-left: auto;

      @media (min-width: 992px) {
        margin-bottom: 5rem;
        display: flex;
      }

      &.SingleCard {
        align-items: center;
        justify-content: center;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .Cards {
        text-align: center;
        margin-top: 3rem;

        @media (min-width: 992px) {
          margin-top: 0;
        }

        h3 {
          font-size: $step-02;
          font-family: $lightFont;
          color: $sky;
          font-weight: normal;
          margin-bottom: 0.8rem;
        }

        p {
          //line-height: 1.7;
          color: $white;
          margin-bottom: 0;
          font-family: $secondaryFont;
          font-size: 1.5rem;

          br {
            display: none;

            @media (min-width: 992px) {
              display: block;
            }
          }
        }
      }
    }
  }
}

body.rtl {
  .BgVideoWithFiveCards {
    background-size: 100% !important;
    background-position: center !important;
    background-color: #000 !important;
    padding: 4rem 0;
    overflow-x: hidden;
    overflow-y: hidden;
    //min-height: 100vh;
    position: relative;

    @media (min-width: 992px) {
      padding: 9rem 0;
    }

    video {
      display: block;
      position: absolute;
      width: 90%;
      // object-fit: fill;
      // height: 100vh;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 991px) {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
      }
    }

    .container {
      z-index: 2;
      position: relative;
    }

    .TopHeading {
      margin-bottom: 2rem;

      @media (min-width: 992px) {
        margin-bottom: 6rem;
      }

      h2 {
        text-align: center;
        color: $white;
        line-height: 1;
      }
    }

    .FiveCardsBlock {
      padding: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;

      @media (min-width: 992px) {
        padding: 0 5rem;
      }

      .TwoCardsRow {
        display: block;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0rem;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        flex-direction: row-reverse;

        @media (min-width: 992px) {
          margin-bottom: 5rem;
          display: flex;
        }

        &.SingleCard {
          align-items: center;
          justify-content: center;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .Cards {
          text-align: center;
          margin-top: 3rem;

          @media (min-width: 992px) {
            margin-top: 0;
          }

          h3 {
            font-size: $step-02;
            font-family: $lightFont;
            color: $sky;
            font-weight: normal;
            margin-bottom: 0.8rem;
          }

          p {
            //line-height: 1.7;
            color: $white;
            margin-bottom: 0;
            font-family: $secondaryFont;
            font-size: 1.5rem;

            br {
              display: none;

              @media (min-width: 992px) {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.VideoContainer {
  background-repeat: no-repeat;
  background-size: cover !important;
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 992px) {
    background-size: 100% !important;
  }

  @media (min-width: 1024px) {
    background-size: cover !important;
  }

  @media (min-width: 1299px) {
    background-size: 100% !important;
  }

  &.videoWrapperActive {
    .videoIframe {
      z-index: 2;
    }

    .videoPoster {
      -webkit-overflow-scrolling: touch;
    }
  }

  @media screen and (min-width: 992px) {
    height: 290px;
    margin: 0 auto;
    width: 100%;
  }

  @media screen and (min-width: 992px) {
    height: 400px;
  }

  .VideoPlay {
    width: 50px;
    height: 40px;
    background-color: #e1e1e1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;

    .PlayBtn {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent rgba($black, 0.2);
    }
  }

  .videoIframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
  }

  .video_wrapper_full {
    padding-top: 315px;
  }

  .videoPoster {
    width: 100px;
    height: 100px;
    z-index: 1;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;

    @media (min-width: 992px) {
      width: 200px;
      height: 200px;
    }

    &:focus {
      outline: none;
    }
  }
}

.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 55px;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}

.WorkWellVideo {
  .VideoContainer {
    height: 300px;

    @media screen and (min-width: 992px) {
      height: 430px;
      width: 100% !important;
    }

    @media screen and (min-width: 992px) {
      height: 755px;
    }
  }
}

html[dir="rtl"] {
  body {
    .FiveCardsBlock .TwoCardsRow .Cards {
      max-width: 250px;
      @media (max-width: 992px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
