.GreyBtn {
  font-size: 1em;
  font-family: $secondaryFont;
  color: $base;
  background-color: #f4f4f4;
  padding: 2rem 0 2rem 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 230px;
  transition: 0.3s all;
  img {
    margin-left: 1rem;
    width: 20px;
    height: 15px;
    max-width: 100%;
    transition: 0.3s all;
  }
  &:hover {
    background-color: #ccc;
    color: $white;
    img {
      margin-left: 2rem;
    }
  }
}

html[dir="rtl"] {
  body {
    .GreyBtn {
      img {
        transform: rotate(180deg);
        margin-right: 1rem;
      }
    }
  }
}
