.CenterTopIconBtmContent {
  padding: 15rem 0;

  .container > .row {
    flex-direction: row-reverse;
  }

  @media (max-width: 768px) {
    padding: 5rem 0;
  }

  .TopIconBtmContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0rem;

    @media (min-width: 768px) {
      padding: 0 3rem;
    }

    @media (min-width: 1024px) {
      padding: 0 5rem;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      transition: transform 200ms ease-in;
      height: 10rem;
      margin-bottom: 5rem;
    }

    h4 {
      font-size: $step-02;
      font-weight: normal;
      color: $base;
      text-align: center;
      font-family: $lightFont;
      margin-bottom: 1.6rem;
    }

    p {
      //line-height: 1.7;
      text-align: center;
      margin-bottom: 0;
      line-height: 1.5;
    }
  }
}

body.rtl {
  .CenterTopIconBtmContent {
    padding: 15rem 0;

    @media (max-width: 768px) {
      padding: 5rem 0;
    }

    .TopIconBtmContent {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2rem 0rem;

      @media (min-width: 768px) {
        padding: 0 3rem;
      }

      @media (min-width: 1024px) {
        padding: 0 5rem;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        transition: transform 200ms ease-in;
        height: 10rem;
        margin-bottom: 5rem;
      }

      h4 {
        font-size: $step-02;
        font-weight: normal;
        color: $base;
        text-align: center;
        font-family: $lightFont;
        margin-bottom: 1.6rem;
      }

      p {
        //line-height: 1.7;
        text-align: center;
        margin-bottom: 0;
        line-height: 1.5;
      }
    }
  }
}
