.CenterContentOnly {
  padding-top: 7rem;
  padding-bottom: 8rem;
  //border: 1px solid red;

  @media (max-width: 767px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &.WithThreeCards {
    padding-bottom: 6rem;

    @media (max-width: 767px) {
      padding-bottom: 3rem;
    }
  }

  .CenterContent {
    margin: 0 auto;

    h2 {
      text-align: center;
      color: $base;
      //line-height: 1;
      margin-bottom: 1.6rem;

      @media (max-width: 767px) {
        text-align: left;
      }
    }

    h4 {
      text-align: center;
      margin-bottom: 1.6rem;
      font-weight: 600;

      @media (max-width: 767px) {
        text-align: left;
      }
    }

    p {
      text-align: center;
      //line-height: 1.5;
      margin-bottom: 0;
      max-width: 600px;
      margin: 0 auto;

      @media (max-width: 767px) {
        text-align: left;
      }
    }
  }

  .ThreeCardsWrapper {
    max-width: 1200px;
    margin: 6rem auto 0;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      position: relative;
      margin: 0;
      padding: 0;

      @media (max-width: 991px) {
        display: block;
        text-align: center;
      }

      li {
        flex-basis: 33.333%;
        padding: 0 3rem;
        position: relative;
        //border: 1px solid;

        &:before {
          content: "";
          position: absolute;
          right: 10%;
          top: 50%;
          height: 110%;
          width: 1px;
          background-color: rgba($base, 0.35);
          transform: translateY(-50%) rotate(25deg);

          @media (max-width: 1025px) {
            display: none;
          }
        }

        @media (max-width: 991px) {
          padding: 0;
          margin-bottom: 3rem;
        }

        &:last-child {
          &:before {
            display: none;
          }
          @media (max-width: 991px) {
            margin-bottom: 0;
          }
        }

        h5 {
          text-align: center;

          line-height: 1;
          padding: 0.75rem 0;
          font-size: $step-01;
          color: $base;
          font-family: $secondaryFont;
          font-weight: normal;
          margin-bottom: 4rem;

          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: url(../img/heading-bg.svg) no-repeat;
            background-size: 100% !important;
            z-index: -1;
          }

          @media (max-width: 991px) {
            margin-bottom: 2rem;
          }
        }

        p {
          br {
            @media (max-width: 991px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

html[dir="rtl"] {
  .CenterContentOnly {
    .CenterContent {
      margin: 0 auto;

      h2 {
        text-align: center;
        @media (max-width: 767px) {
          text-align: unset;
        }
      }

      h4 {
        text-align: center;
        margin-bottom: 1.6rem;
        font-weight: 600;

        @media (max-width: 767px) {
          text-align: unset;
        }
      }

      p {
        text-align: center;
        //line-height: 1.5;
        margin-bottom: 0;
        max-width: 600px;
        margin: 0 auto;

        @media (max-width: 767px) {
          text-align: unset;
        }
      }
    }

    .ThreeCardsWrapper {
      max-width: 1200px;
      margin: 6rem auto 0;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0;

        @media (max-width: 991px) {
          display: block;
          text-align: center;
        }

        li {
          flex-basis: 33.333%;
          padding: 0 3rem;
          position: relative;

          //border: 1px solid;

          &:before {
            content: "";
            position: absolute;
            right: 2.5%;
            top: 50%;
            height: 100%;
            width: 1px;
            background-color: rgba($base, 0.35);
            transform-origin: center top;
            transform: translateY(-50%) rotate(-25deg);

            @media (max-width: 1025px) {
              display: none;
            }
          }

          @media (max-width: 991px) {
            padding: 0;
            margin-bottom: 3rem;
          }

          &:last-child {
            &:before {
              display: none;
            }
            @media (max-width: 991px) {
              margin-bottom: 0;
            }
          }

          h5 {
            text-align: center;

            line-height: 1;
            padding: 0.75rem 0;
            font-size: $step-01;
            color: $base;
            font-family: $secondaryFont;
            font-weight: normal;
            margin-bottom: 4rem;

            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scaleX(-1);
              width: 100%;
              height: 100%;
              background: url(../img/heading-bg.svg) no-repeat;
              background-size: 100% !important;
              z-index: -1;
            }

            @media (max-width: 991px) {
              margin-bottom: 2rem;
            }
          }

          p {
            br {
              @media (max-width: 991px) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.left_image_right_content {
  .row {
    > div {
      align-self: center;
      //margin-bottom: 3rem;

      &:nth-child(7) {
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 991px) {
        padding: 0;
        margin-bottom: 0rem;
        align-self: stretch;
      }

      .imgWrap {
        height: 100%;

        @media (min-width: 991px) {
          margin: 0 -15px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      .contentWrap {
        max-width: 514px;

        @media (min-width: 360px) {
          margin: 0 auto;
          padding: 4rem 2rem;
          text-align: left;
        }

        @media (min-width: 480px) {
          margin: 0 auto;
        }

        @media (min-width: 991px) {
          //margin-left: auto;
          //max-width: 514px;
          text-align: unset;
          padding: 0;
        }

        h2 {
          font-size: $step-03;
          color: $base;
          margin-bottom: 0.8rem;
          line-height: 1.2;
          @media (max-width: 767px) {
            letter-spacing: -0.5px;
          }
        }

        p {
          color: $base;
          //line-height: 1.7;
          margin-bottom: 0rem;
        }

        &.text-left-md {
          margin-left: auto;

          @media (min-width: 991px) {
            margin-right: 5%;
          }

          @media (min-width: 1100px) {
            margin-left: 5%;
          }

          @media (min-width: 1200px) {
            margin-left: auto;
          }
        }
      }
    }
  }
}

html[dir="rtl"] {
  .left_image_right_content {
    .row {
      > div {
        align-self: center;
        //margin-bottom: 3rem;

        &:nth-child(7) {
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: 991px) {
          padding: 0;
          margin-bottom: 0rem;
          align-self: stretch;
        }

        .imgWrap {
          height: 100%;

          @media (min-width: 991px) {
            margin: 0 -15px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        }

        .contentWrap {
          max-width: 514px;

          @media (min-width: 360px) {
            margin: 0 auto;
            padding: 4rem 2rem;
            text-align: right;
          }

          @media (min-width: 480px) {
            margin: 0 auto;
          }

          @media (min-width: 991px) {
            //margin-left: auto;
            //max-width: 514px;
            text-align: unset;
            padding: 0;
          }

          h2 {
            font-size: $step-03;
            color: $base;
            margin-bottom: 0.8rem;
            line-height: 1.2;
            @media (max-width: 767px) {
              letter-spacing: -0.5px;
            }
          }

          p {
            color: $base;
            //line-height: 1.7;
            margin-bottom: 0rem;
          }

          &.text-left-md {
            margin-left: auto;

            @media (min-width: 991px) {
              margin-right: 5%;
            }

            @media (min-width: 1100px) {
              margin-left: 5%;
            }

            @media (min-width: 1200px) {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}

.HeadingWithLink {
  h2 {
    text-align: center;
    color: $base;
    line-height: 1;
  }

  &.CTAblock {
    padding-top: 12rem;
    margin-bottom: 0rem;
    padding-bottom: 10rem;
    position: relative;

    @media (max-width: 768px) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    &:after {
      content: "";
      position: absolute;
      background: url(../img/mask-element.svg) no-repeat;
      width: 100%;
      height: 330px;
      background-position: right;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-size: 95%;
    }

    h2 {
      margin-bottom: 3rem;
    }
  }
}

html[dir="rtl"] {
  body {
    .CenterContentOnly {
      //border: 1px solid red;

      .ThreeCardsWrapper {
        ul {
          li {
            &:before {
              content: "";
              position: absolute;
              right: unset;
              left: -2.5%;
              top: 50%;
              height: 100%;
              width: 1px;
              background-color: rgba($base, 0.35);
              transform-origin: center top;
              transform: translateY(-50%) rotate(-25deg);

              @media (max-width: 1025px) {
                display: none;
              }
            }

            @media (max-width: 991px) {
              padding: 0;
              margin-bottom: 3rem;
            }

            &:last-child {
              &:before {
                display: none;
              }
              @media (max-width: 991px) {
                margin-bottom: 0;
              }
            }

            h5 {
              text-align: center;

              line-height: 1;
              padding: 0.75rem 0;
              font-size: $step-01;
              color: $base;
              font-family: $secondaryFont;
              font-weight: normal;
              margin-bottom: 4rem;

              position: relative;

              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scaleX(-1);
                width: 100%;
                height: 100%;
                background: url(../img/heading-bg.svg) no-repeat;
                background-size: 100% !important;
                z-index: -1;
              }

              @media (max-width: 991px) {
                margin-bottom: 2rem;
              }
            }

            p {
              br {
                @media (max-width: 991px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
