.GradientText {
  font-weight: 700;
  font-size: $step-01;
  font-family: $secondaryFont;

  background: linear-gradient(
    90deg,
    #ab6bff,
    #9ad5f9 15%,
    #575df0 35%,
    #ab6bff 50%,
    #9ad5f9 65%,
    #575df0 85%,
    #ab6bff
  );
  background-size: 200% 100%;
  animation: gradient 3.5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backface-visibility: hidden;

  @media (max-width: 767px) {
    font-size: 1.8rem;
  }
}

html[dir="rtl"] {
  body {
    .GradientText {
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0;
  }

  to {
    background-position: -100%;
  }
}
