.HomeBanner {
	position: relative;
	height: auto;


	@media(min-width: 1299px) {
		height: 100vh;
	}

	.BannerContent {
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		top: 15%;


		@media(min-width: 768px) {
			top: 30%;
		}

		.BannerText {
			padding-right: 0rem;


			@media(min-width: 768px) {
				padding-right: 25rem;
			}

			h1 {
				font-size: 5rem;
				color: $base;
				margin: 0;
				line-height: 1;
				font-weight: 100;
				font-family: 'Butler-Light';
				margin-bottom: 1rem;
				overflow: hidden;


				.inner_title {
					display: block;
				}
			}

			h4 {
				font-size: 2.2rem;
				font-weight: 600;
				font-family: $secondaryFont;
				margin-bottom: 1rem;
			}

			p {
				font-family: $secondaryFont;
			}
		}
	}

	.BannerLeftRight {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;

		.LeftBlock {
			background-color: $white;
			flex-basis: 100%;

			@media(min-width: 768px) {
				flex-basis: 50%;
			}

			@media (min-width: 1600px) {
				flex-basis: 50%;
			}
		}

		.RightBlock {
			background-color: $base;
			padding: 0 0;
			flex-basis: 100%;
			margin-top: 35rem;

			@media(min-width: 768px) {
				flex-basis: 50%;
				padding: 10.25rem 0;
				margin-top: 0;
			}

			@media(min-width: 1024px) {
				display: flex;
				height: 100vh;
			}

			img {
				display: block;
				max-width: 100%;
			}
		}
	}

	&.WhoWeAreRightLeft {
		height: auto;

		.BannerContent {
			.BannerText {
				p {
					br {
						@media(max-width: 768px) {
							display: none;
						}
					}
				}
			}
		}

		.BannerLeftRight {
			.RightBlock {
				@media(max-width: 768px) {
					margin-top: 36rem;
				}

				@media(min-width: 1024px) {
					display: flex;
					height: auto;
					padding: 0;
				}
			}
		}
	}
}