.HomeBanner {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 991px) {
    height: auto;
    flex-direction: column;
  }

  .BannerContent {
    background: #fff;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 50%;
    z-index: 4;
    position: relative;

    @media (max-width: 991px) {
      width: 100%;
      height: auto;
      padding-top: 10rem;
      padding: 10rem 2rem 4.8rem 2rem;
      flex-direction: column;
      align-items: flex-start;
    }

    .BannerText {
      max-width: 70%;

      @media (max-width: 991px) {
        max-width: 100%;
      }

      h1 {
        color: $base;
        margin: 0;
        margin-bottom: 1.6rem;
        overflow: hidden;

        .inner_title {
          display: block;
        }
      }

      h1.hero_title {
        @media (max-width: 432px) {
        }
      }

      h4 {
        font-weight: 600;
        font-family: $secondaryFont;
        margin-bottom: 1.6rem;
      }

      p {
        font-family: $secondaryFont;

        line-height: 1.6;
      }

      ul {
        padding: 0;
        margin: 1em 0 0;
        list-style: none;
        display: block;

        li {
          position: relative;
          margin-top: 2rem;
          span {
            display: inline-block;
            padding-left: 1.5rem;

            font-family: $secondaryFont;
            color: $para;
            position: relative;
            transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
            font-size: $base-font;
          }

          &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background: $base;
            left: 0;
            top: 0;
          }
        }

        li.activeBullet {
          span {
            transition: all 200ms ease;
            background: linear-gradient(
              90deg,
              #ab6bff,
              #9ad5f9 15%,
              #575df0 35%,
              #ab6bff 50%,
              #9ad5f9 65%,
              #575df0 85%,
              #ab6bff
            );
            background-size: 200% 100%;
            animation: gradient 3.5s linear infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            backface-visibility: hidden;
            transform: translateX(2rem) scale(1.05);
          }

          &:before {
            background: linear-gradient(
              90deg,
              #ab6bff,
              #9ad5f9 15%,
              #575df0 35%,
              #ab6bff 50%,
              #9ad5f9 65%,
              #575df0 85%,
              #ab6bff
            );
          }
        }
      }
    }
  }

  &.Equal {
    .BannerContent {
      @media (max-width: 991px) {
        padding: 4rem 2rem;
      }
    }
  }

  &.Reverse {
    display: flex;
    flex-direction: row-reverse;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    .Video {
      left: 0;
      width: 50%;

      @media (max-width: 991px) {
        width: 100%;
      }
    }

    .BannerContent {
      align-self: flex-end;

      @media (max-width: 991px) {
        width: 100%;
        padding: 4rem 2rem;
      }
    }
  }

  .Video {
    width: 50%;
    align-self: stretch;
    @media (max-width: 991px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video {
      max-width: 100%;
      min-height: 100vh;
      object-fit: cover;

      @media (max-width: 991px) {
        min-height: auto;
        display: block;
      }
    }
  }

  .LearnMore {
    position: absolute;
    right: -4.5em;
    bottom: 0;

    @media (max-width: 991px) {
      position: relative;
      top: 0;
      left: 0;
      right: unset;
      bottom: unset;
      display: none;
    }

    a {
      border-top: #dedede thin solid;
      font-family: $secondaryFont;
      font-size: 12px;
      display: block;
      transform: rotate(-90deg);
      color: $para;
      padding-top: 0.5em;
      padding-right: 0.2em;
      text-decoration: none;
      margin-top: 0em;
      padding-left: 10em;
      @media (max-width: 991px) {
        transform: none;
        width: 100%;
        padding: 1.2rem;
        margin-top: 1.6rem;
        border: #dedede thin solid;
      }
    }
  }
}

@keyframes gradient {
  0% {
    opacity: 0;
    background-position: 0;
  }

  to {
    opacity: 1;
    background-position: -100%;
  }
}

.gs_reveal_heading {
  overflow: hidden;
  line-height: 1.2;
  @media (max-width: 991px) {
    line-height: 1.2;
  }

  & > span {
    display: inline-block;
  }
}

.gs_reveal.active {
  & > span {
    transition: 300ms ease;
    transform: translateY(0);
  }
}

// Right to Left Css

body.rtl {
  .HomeBanner {
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    @media (max-width: 991px) {
      height: auto;
      flex-direction: column;
    }

    .BannerContent {
      background: #fff;
      display: flex;
      align-items: center;
      height: 100vh;
      justify-content: center;
      width: 50%;
      z-index: 4;
      position: relative;

      @media (max-width: 991px) {
        width: 100%;
        height: auto;
        padding-top: 10rem;
        padding: 10rem 2rem 4.8rem 2rem;
        flex-direction: column;
        align-items: flex-end;
      }

      .BannerText {
        max-width: 70%;

        @media (max-width: 991px) {
          max-width: 100%;
        }

        h1 {
          color: $base;
          margin: 0;
          margin-bottom: 1.6rem;
          overflow: hidden;

          .inner_title {
            display: block;
          }
        }

        h1.hero_title {
          @media (max-width: 432px) {
          }
        }

        h4 {
          font-weight: 600;
          font-family: $secondaryFont;
          margin-bottom: 1.6rem;
        }

        p {
          font-family: $secondaryFont;

          line-height: 1.6;
        }

        ul {
          padding: 0;
          margin: 1em 0 0;
          list-style: none;
          display: block;

          li {
            position: relative;
            margin-top: 2rem;
            span {
              display: inline-block;
              padding-right: 1.5rem;
              padding-left: 0;

              font-family: $secondaryFont;
              color: $para;
              position: relative;
              transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
              font-size: $base-font;
            }

            &:before {
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              background: $base;
              right: 0;
              left: unset;
              top: 0;
            }
          }

          li.activeBullet {
            span {
              transition: all 200ms ease;
              background: linear-gradient(
                90deg,
                #ab6bff,
                #9ad5f9 15%,
                #575df0 35%,
                #ab6bff 50%,
                #9ad5f9 65%,
                #575df0 85%,
                #ab6bff
              );
              background-size: 200% 100%;
              animation: gradient 3.5s linear infinite;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              backface-visibility: hidden;
              transform: translateX(-3rem) scale(1.05);
            }

            &:before {
              background: linear-gradient(
                90deg,
                #ab6bff,
                #9ad5f9 15%,
                #575df0 35%,
                #ab6bff 50%,
                #9ad5f9 65%,
                #575df0 85%,
                #ab6bff
              );
            }
          }
        }
      }
    }

    &.Equal {
      .BannerContent {
        @media (max-width: 991px) {
          padding: 4rem 2rem;
        }
      }
    }

    &.Reverse {
      display: flex;
      flex-direction: row;

      @media (max-width: 991px) {
        flex-direction: column;
      }

      .Video {
        left: 0;
        width: 50%;

        @media (max-width: 991px) {
          width: 100%;
        }
      }

      .BannerContent {
        align-self: flex-end;

        @media (max-width: 991px) {
          width: 100%;
          padding: 4rem 2rem;
        }
      }
    }

    .Video {
      width: 50%;
      align-self: stretch;
      @media (max-width: 991px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      video {
        max-width: 100%;
        min-height: 100vh;
        object-fit: cover;

        @media (max-width: 991px) {
          min-height: auto;
          display: block;
        }
      }
    }

    .LearnMore {
      position: absolute;
      right: unset;
      left: 3.2rem;
      bottom: 0;

      @media (max-width: 991px) {
        position: relative;
        top: 0;
        left: 0;
        right: unset;
        bottom: unset;
        display: none;
      }

      a {
        border-top: unset;
        border-bottom: #dedede thin solid;
        font-family: $secondaryFont;
        display: inline-block;
        font-size: 12px;
        display: block;
        transform: rotate(-90deg);
        transform-origin: left bottom;
        color: $para;
        padding: 0.75rem;
        text-decoration: none;
        margin-top: 0em;

        @media (max-width: 991px) {
          transform: none;
          width: 100%;
          padding: 1.2rem;
          margin-top: 1.6rem;
          border: #dedede thin solid;
        }
      }
    }
  }

  @keyframes gradient {
    0% {
      opacity: 0;
      background-position: 0;
    }

    to {
      opacity: 1;
      background-position: -100%;
    }
  }

  .gs_reveal_heading {
    overflow: hidden;
    line-height: 1.2;
    @media (max-width: 991px) {
      line-height: 1.2;
    }

    & > span {
      display: inline-block;
    }
  }

  .gs_reveal.active {
    & > span {
      transition: 300ms ease;
      transform: translateY(0);
    }
  }
}

html[dir="rtl"] {
  body {
    .HomeBanner {
      .BannerText {
        max-width: 70%;

        @media (max-width: 991px) {
          max-width: 100%;
        }

        h1 {
          color: $base;
          margin: 0;
          margin-bottom: 1.6rem;
          overflow: hidden;

          .inner_title {
            display: block;
          }
        }

        h1.hero_title {
          @media (max-width: 432px) {
          }
        }

        h4 {
          font-weight: 600;
          font-family: $secondaryFont;
          margin-bottom: 1.6rem;
        }

        p {
          font-family: $secondaryFont;

          line-height: 1.6;
        }

        ul {
          padding: 0;
          margin: 1em 0 0;
          list-style: none;
          display: block;

          li {
            position: relative;
            margin-top: 2rem;
            span {
              display: inline-block;
              padding-right: 1.5rem;
              padding-left: 0;

              font-family: $secondaryFont;
              color: $para;
              position: relative;
              transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
              font-size: $base-font;
            }

            &:before {
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              background: $base;
              right: 0;
              left: unset;
              top: 0;
            }
          }

          li.activeBullet {
            span {
              transition: all 200ms ease;
              background: linear-gradient(
                90deg,
                #ab6bff,
                #9ad5f9 15%,
                #575df0 35%,
                #ab6bff 50%,
                #9ad5f9 65%,
                #575df0 85%,
                #ab6bff
              );
              background-size: 200% 100%;
              animation: gradient 3.5s linear infinite;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              backface-visibility: hidden;
              transform: translateX(-3rem) scale(1.05);
            }

            &:before {
              background: linear-gradient(
                90deg,
                #ab6bff,
                #9ad5f9 15%,
                #575df0 35%,
                #ab6bff 50%,
                #9ad5f9 65%,
                #575df0 85%,
                #ab6bff
              );
            }
          }
        }
      }

      .LearnMore {
        position: absolute;
        right: unset;
        left: 3.2rem;
        bottom: 0;

        @media (max-width: 991px) {
          position: relative;
          top: 0;
          left: 0;
          right: unset;
          bottom: unset;
          display: none;
        }

        a {
          border-top: unset;
          border-bottom: #dedede thin solid;
          font-family: $secondaryFont;
          display: inline-block;
          font-size: 12px;
          display: block;
          transform: rotate(-90deg);
          transform-origin: left bottom;
          color: $para;
          padding: 0.75rem;
          text-decoration: none;
          margin-top: 0em;

          @media (max-width: 991px) {
            transform: none;
            width: 100%;
            padding: 1.2rem;
            margin-top: 1.6rem;
            border: #dedede thin solid;
          }
        }
      }
    }
  }
}
