.LogotestimonialBlock {
  padding-top: 4rem;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 8rem;
  }

  @media (min-width: 1024px) {
    padding-top: 6rem;
  }

  @media (min-width: 1299px) {
    padding-top: 8rem;
  }

  &:after {
    content: "";
    position: absolute;
    background: url(../img/mask-element.svg) no-repeat;
    width: 100%;
    height: 330px;
    background-position: right;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: 95%;
  }

  .TopHeading {
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      margin-bottom: 5rem;
    }

    @media (min-width: 1024px) {
      margin-bottom: 3rem;
    }

    @media (min-width: 1299px) {
      margin-bottom: 5rem;
    }

    h2 {
      text-align: center;
      color: $base;
      line-height: 1;
    }

    &.CTAblock {
      padding-top: 6rem;
      margin-bottom: 0rem;
      padding-bottom: 4rem;

      @media (max-width: 768px) {
        padding-top: 4rem;
      }

      h2 {
        margin-bottom: 3rem;
      }
    }
  }

  .DualSliderBlock {
    .logoslider {
      margin-bottom: 6rem;

      @media (min-width: 991px) {
        margin-bottom: 0;
      }

      .fourlogoslider {
        .slick-dots {
          li {
            width: auto;
            height: auto;

            button {
              padding: 0;
              width: 10px;
              height: 10px;

              &:before {
                content: "" !important;
                background: rgba($base, 0.25);
                border-radius: 50%;
                width: 10px;
                height: 10px;
              }
            }

            &.slick-active {
              button {
                &:before {
                  background: rgba($base, 0.5);
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }
        }

        .Animateblock {
          display: flex !important;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: wrap;
          position: relative;
          border: thin solid rgba(#c4c4c4, 0.5);

          &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background: rgba(#c4c4c4, 0.5);
            left: 0;
            right: 0;
            margin: 0 auto;
          }

          &:after {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background: rgba(#c4c4c4, 0.5);
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
          }

          .logo {
            flex-basis: 50%;
            min-height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: 768px) {
              min-height: 240px;
            }

            @media (min-width: 1299px) {
              min-height: 255px;
            }

            img {
              max-width: 100%;
              object-fit: contain;
              width: 80%;
              height: 80%;

              @media (min-width: 768px) {
                max-width: 100%;
              }

              @media (min-width: 1299px) {
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    .TestimonialBlock {
      background-color: #141d25;
      //height: 94.5%;
      height: 100%;
      padding: 4rem 1.5rem 10rem;
      color: $white;

      @media (min-width: 768px) {
        padding: 5rem 5rem 5rem 6rem;
      }

      @media (min-width: 1299px) {
        padding: 5rem 10rem 5rem 6rem;
      }

      h2 {
        margin-bottom: 2.4rem;
        color: white;
      }

      .testimonialslider {
        position: relative;

        button.slick-prev.slick-arrow {
          display: none !important;
        }

        button.slick-next.slick-arrow {
          position: absolute;
          left: -10px;
          top: unset;
          bottom: -2rem;

          @media (min-width: 768px) {
            //bottom: -5.5rem;
          }

          &:before {
            font-size: 3.6rem;
            margin-left: 1rem;
            opacity: 1;
          }
        }

        .testimonial {
          margin-bottom: 2.4rem;

          h2 {
            margin-bottom: 2rem;
          }

          h4 {
            font-weight: 600;
            margin-bottom: 1.2rem;
            font-size: $step-03;
            @media (max-width: 380px) {
              font-size: $step-02;
            }
          }

          p {
            line-height: 1.6;
            color: $white;
            margin-bottom: 0.8rem;
            font-family: $secondaryFont;
            font-size: 1.8rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

body.rtl {
  .LogotestimonialBlock
    .TestimonialBlock
    .testimonialslider
    button.slick-next.slick-arrow {
    left: unset;
    right: 2rem;
  }
}

html[dir="rtl"] {
  body {
    .LogotestimonialBlock {
      .TestimonialBlock {
        direction: rtl;
        .testimonialslider {
          direction: ltr;
          button.slick-next.slick-arrow {
            left: unset;
            right: 2rem;
          }
          .testimonial {
            direction: rtl;
            border: 1px solid transparent;
          }
        }
      }
    }
  }
}
