#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    transition: 0.6s cubic-bezier(0.76, 0, 0.24, 1);
    /* change if the mask should have another color then white */
    z-index: 99999;
    /* makes sure it stays on top */

    // SVG styles.
    svg {
        // animation: 2s linear infinite svg-animation;
        max-width: 100px;
    }

    // SVG animation.
    @keyframes svg-animation {
        0% {
            transform: rotateZ(0deg);
        }

        100% {
            transform: rotateZ(360deg)
        }
    }

    // Circle styles.
    circle {
        //animation: 2s ease-in-out infinite both circle-animation;
        display: block;
        fill: transparent;
        stroke: #2f3d4c;
        stroke-linecap: round;
        stroke-dasharray: 283;
        stroke-dashoffset: 280;
        stroke-width: 1px;
        transform-origin: 50% 50%;
    }

    // Circle animation.
    @keyframes circle-animation {

        0%,
        25% {
            stroke-dashoffset: 280;
            transform: rotate(0);
        }

        50%,
        75% {
            stroke-dashoffset: 75;
            transform: rotate(45deg);
        }

        100% {
            stroke-dashoffset: 280;
            transform: rotate(360deg);
        }
    }
}