.RightContentWithBg {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url("../../assets/img/evault/Home/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1025px) {
    background-position: 40%;
  }

  @media (max-width: 991px) {
    height: auto;
    background: none;
    background-size: cover !important;
  }

  .RightContentbox {
    max-width: 28%;
    margin-right: 6em;
    margin-left: auto;

    @media (max-width: 991px) {
      max-width: 100%;
      padding: 4rem 2rem;
      margin-right: 0;
      margin-left: 0;
    }

    h2 {
      //font-size: 4em;
      color: $white;
      margin: 0;
      //line-height: 1.2;
      //font-weight: 100;
      //font-family: 'Butler-Light';
      margin-bottom: 1.6rem;
      overflow: hidden;

      @media (max-width: 991px) {
        color: $dark;
      }

      .inner_title {
        display: block;
      }
    }

    h4 {
      //font-size: 1.6em;
      font-weight: 600;
      font-family: $secondaryFont;
      margin-bottom: 1.6rem;
    }

    p {
      font-family: $secondaryFont;
      color: $white;
      max-width: 90%;
      line-height: 1.6;

      @media (max-width: 991px) {
        color: $dark;
        max-width: 100%;
      }
    }
  }
}

body.rtl {
  .RightContentWithBg {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url("../../assets/img/evault/Home/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1025px) {
      background-position: 40%;
    }

    @media (max-width: 991px) {
      height: auto;
      background: none;
      background-size: cover !important;
    }

    .RightContentbox {
      max-width: 28%;
      margin-right: 6em;
      margin-left: auto;

      @media (max-width: 991px) {
        max-width: 100%;
        padding: 4rem 2rem;
        margin-right: 0;
        margin-left: 0;
      }

      h2 {
        //font-size: 4em;
        color: $white;
        margin: 0;
        //line-height: 1.2;
        //font-weight: 100;
        //font-family: 'Butler-Light';
        margin-bottom: 1.6rem;
        overflow: hidden;

        @media (max-width: 991px) {
          color: $dark;
        }

        .inner_title {
          display: block;
        }
      }

      h4 {
        //font-size: 1.6em;
        font-weight: 600;
        font-family: $secondaryFont;
        margin-bottom: 1.6rem;
      }

      p {
        font-family: $secondaryFont;
        color: $white;
        max-width: 90%;
        line-height: 1.6;
        margin-left: auto;

        @media (max-width: 991px) {
          color: $dark;
          max-width: 100%;
        }
      }
    }
  }
}
