.RightImgLeftContent {
	background-position: top right !important;
	background-size: 50% !important;
	padding: 16rem 0;

	@media(max-width: 768px) {
		background: none !important;
		padding: 3rem 0;
		//background: transparent linear-gradient(90deg, #D3D3D3 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box !important;
	}

	@media(min-width: 1024px) {
		padding: 11.5rem 0;
	}

	@media(min-width: 1299px) {
		padding: 16rem 0;
	}

	&.HowItWorkRightImg {
		@media(min-width: 1024px) {
			padding: 18rem 0;
		}

		@media(min-width: 1299px) {
			padding: 24rem 0;
		}
	}

	&.RightContentLeftImg {
		background-position: left !important;
		background-size: 48% !important;
		margin-top: 6rem;
		padding: 13.5rem 0;

		@media(max-width: 768px) {
			background: none !important;
			padding: 3rem 0;
			margin-top: 0rem;
		}

		@media(min-width: 1024px) {
			padding: 7.5rem 0;
		}

		@media(min-width: 1299px) {
			padding: 13.5rem 0;
		}

		.LeftContent {
			.Content {
				padding-left: 5rem;

				@media(max-width: 768px) {
					padding-left: 0;
				}
			}
		}
	}

	.LeftContent {

		.Content {
			@media(max-width: 768px) {
				padding: 4rem 0 1rem 0;
			}

			h2 {
				margin-bottom: 1.6rem;
				// span {
				// 	display: block;
				// }

				color: $base;
			}

			h4 {
				//font-size: 2.2rem;
				font-weight: 600;
				font-family: $secondaryFont;
				margin-bottom: 1.6rem;
			}

			p {
				font-family: $secondaryFont;
				color: $para;
				//line-height: 1.7;
				margin-bottom: 0;
				max-width: 85%;


				@media(max-width: 768px) {
					max-width: 100%;
				}

				br {
					@media(max-width: 768px) {
						display: none;
					}
				}
			}

			ul {
				padding: 0;
				margin: 4rem 0 0;
				list-style: none;
				display: block;

				li {
					padding-left: 1.5rem;
					font-size: 1.6rem;
					font-family: $secondaryFont;
					color: $para;
					margin-top: 2rem;
					position: relative;

					&:before {
						content: "";
						position: absolute;
						width: 1px;
						height: 100%;
						background-color: $base;
						left: 0;
						top: 0;
					}
				}
			}
		}
	}
}

.whoWeAre-header {
	margin-top: 0 !important;

	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.HomeBanner.Reverse.whoWeAreHeader {
	.BannerContent {
		@media(max-width: 768px) {
			padding: 10rem 2rem 4.8rem 2rem;
		}
	}
}