.TeamBlock {
  padding-bottom: 10rem;

  @media (max-width: 768px) {
    padding-bottom: 5rem;
  }

  .TopHeading {
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      margin-bottom: 5rem;
    }

    @media (min-width: 1024px) {
      margin-bottom: 3rem;
    }

    @media (min-width: 1299px) {
      margin-bottom: 5rem;
    }

    h2 {
      text-align: center;
      color: $base;
      line-height: 1;
    }
  }

  .TeamWrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    @media (min-width: 767px) {
      display: flex;
    }

    .TeamMember {
      flex-basis: 33.333%;
      position: relative;
      height: 100%;

      @media (max-width: 991px) {
        flex-basis: 50%;
      }

      img {
        width: 100%;
        display: block;
      }

      .MemeberDetails {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: 0;
        padding: 3.2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 200%;
        overflow-y: hidden;
        transition: 600ms ease-in;
        pointer-events: none;

        h4 {
          font-size: $step-02;
          font-family: $lightFont;
          color: $white;
          font-weight: normal;
          pointer-events: all;
        }

        h5 {
          //font-weight: normal;
          font-size: 1.5rem;
          font-weight: 600;
          //	color: $white;
          //font-family: $secondaryFont;
          margin-bottom: 1.6rem;
          pointer-events: all;
        }

        p {
          margin-bottom: 0;
          pointer-events: all;
          color: $white;
          //line-height: 1.5;
          font-size: 1.2rem;
          line-height: 1.6;
          min-height: 0;
          opacity: 0;
          transition: 600ms ease;
          transition-delay: 200ms;
        }
      }
    }
    .TeamMember:hover {
      .MemeberDetails {
        padding-top: 0;
        background-color: rgba(0, 0, 0, 0.7);

        p {
          opacity: 1;
        }
      }
    }
  }
}
