.ThreeCardsBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;

  @media (max-width: 767px) {
    //	padding: 4rem 0;
  }

  .OnhoverVideoBlock {
    flex-basis: 33.3333%;
    height: 100vh;
    padding-bottom: 0rem;
    position: relative;
    cursor: pointer;
    transition: 1s all;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    align-items: center;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: transparent linear-gradient(90deg, #eee 0%, #ffffff 100%) 0%
        0% no-repeat padding-box;
      display: block;
      content: " ";
      opacity: 1;
      transition: all 0.3s ease;
    }

    @media (max-width: 991px) {
      height: 45vh;
    }

    @media (max-width: 767px) {
      flex-basis: 100%;
      height: 70vh;
      padding-bottom: 0;
      border-bottom: thin solid $base;

      &:last-child {
        border-bottom: none;
      }
    }

    @media (min-width: 1024px) {
      height: 85vh;
    }

    @media (min-width: 1299px) {
      height: 100vh;
    }

    video {
      // opacity: 0;
      // visibility: hidden;
      transition: 0.3s all;
      position: absolute;
      top: 0em;
      left: 0em;
      right: 0;
      bottom: 0em;
      z-index: 2;
      object-fit: cover;
      display: block;
      @media (max-width: 991px) {
        opacity: 1;
        visibility: visible;
      }
    }

    .IconWithHeading {
      height: auto;
      width: 100%;
      display: flex;
      position: relative;
      z-index: 3;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      text-align: center;
      // position: absolute;
      // bottom: 0rem;
      opacity: 1;
      visibility: 1;
      transition: 0.5s all;

      @media (min-width: 768px) {
        // bottom: 10rem;
      }

      @media (min-width: 1024px) {
        // bottom: 5rem;
      }

      @media (min-width: 1299) {
        // bottom: 10rem;
      }

      img {
        width: 150px;
        height: 150px;
        max-width: 100%;
        margin-bottom: 2em;

        @media (max-width: 768px) {
          // margin-bottom: 2rem;
          width: 70px;
          height: 70px;
        }

        @media (min-width: 1024px) {
          // margin-bottom: 2rem;
          width: 90px;
          height: 90px;
        }

        @media (min-width: 1299px) {
          // margin-bottom: 8rem;
          width: 180px;
          height: 180px;
        }
      }

      h2 {
        color: $base;
        font-size: $step-03;
      }

      p {
        font-family: $secondaryFont;
        line-height: 1.6;
        margin-bottom: 0;
      }
    }

    &:hover {
      &:after {
        opacity: 0;
      }

      transform: translate3d(0px, 0px, 0px) scale(1.075);

      // background: #fff;
      video {
        opacity: 1;
        visibility: visible;
      }

      // .IconWithHeading{
      // 	opacity: 0;
      // 	visibility: hidden;
      // }
    }
  }
}

body.rtl {
  .ThreeCardsBlock {
    flex-direction: row-reverse;
  }
}
