* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  background: $white;
  font-size: 62.5%;

  @media (max-width: 1300px) {
    font-size: 58%;
  }
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: $primaryFont;
  //font: 400 16px/1.4 $primaryFont;
  color: $base;
  background-color: $white;
  transition: all 0.4s 0.3s ease-in;
  overflow-x: hidden;
}

body.rtl {
  text-align: right;
}

body,
html {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  // overflow: hidden;
}
main {
  min-height: 100vh;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  // color: $para;
  font-family: $secondaryFont;
  line-height: 1.6;
  // letter-spacing: -0.7px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
  font-family: $lightFont;
  font-weight: normal;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.DesktopOnly {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.MobileOnly {
  @media (min-width: 768px) {
    display: none;
  }
}

.IpadProOnwards {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.TillIpad {
  display: block;

  @media (min-width: 1024px) {
    display: none;
  }
}

.MobileSpaceOnly {
  padding-top: 3rem;

  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.mb0-8 {
  margin-bottom: 0.8rem;
}

.mb1-6 {
  margin-bottom: 1.6rem;
}

.mb2-4 {
  margin-bottom: 2.4rem;
}
