.large-headings {
  font-size: $step-05;
  line-height: 1.1;
  font-weight: 100;
  font-family: "Butler-Light";
  letter-spacing: -1px;
  color: #3d4647;
  @media (max-width: 991px) {
    font-size: $step-04;
  }

  @media (max-width: 767px) {
    font-size: $step-03;
    letter-spacing: -0.5px;
  }
}

.medium-headings {
  font-size: $step-03;
  line-height: 1.3;
}

.small-headings {
  font-size: $step-02;
  line-height: 1.3;
}

.bulletPoints {
  font-size: $step-01;
  line-height: 1.4;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 1.6rem;
  }
}
