$dark: #191b1f;
$base : #3D4647;
$darkbase : #141D25;
$black: #000;
$white: #fff;
$sky: #1791D9;
$para: #2e3032;
$deepblack: #111920;

$primaryFont: 'Butler-Regular';
$mediumFont: 'Butler-Medium';
$ultralightFont: 'Butler-UltraLight';
$blackFont: 'Butler-Black';
$boldFont: 'Butler-Bold';
$lightFont: 'Butler-Light';
$secondaryFont: 'Montserrat',
sans-serif;
;


// Typography Scale

$base-font:1.5rem;
$step-01:2.1rem;
$step-02:2.7rem;
$step-03:3.6rem;
$step-04:4.7rem;
$step-05:6.3rem