.ContactUsSection {
  .TopHeading {
    display: block;

    h2 {
      color: $base;
      margin-bottom: 0.8rem;
    }

    h4 {
      font-family: $secondaryFont;
      margin-bottom: 2rem;
    }
  }

  .AddressBlock {
    .Address {
      margin-top: 4rem;

      @media (max-width: 767px) {
        margin-bottom: 4rem;
      }

      h4 {
        font-family: $secondaryFont;
        font-weight: normal;
        color: $base;
        font-size: $step-01;
        margin-bottom: 0.8rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        img {
          width: 1.6rem;
          display: inline-block;
          margin-right: 1.6rem;
        }
      }

      div {
        margin-left: 3.2rem;

        p {
          color: $base;
          margin-bottom: 0.4rem;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            text-decoration: none;
            color: $base;
          }
        }
      }
    }
  }

  .Details {
    h3 {
      //font-size: 4rem;
      font-family: $secondaryFont;
      color: $base;
      font-weight: normal;
      margin-bottom: 0.8rem;
    }

    h4 {
      font-size: 2rem;
      font-family: $secondaryFont;
      font-weight: normal;
      color: $base;
      margin-bottom: 0.8rem;
    }

    h5 {
      font-size: 2rem;
      font-family: $secondaryFont;
      font-weight: normal;
      margin-bottom: 1.5rem;

      a {
        color: #888888;
        text-decoration: none;
        transition: 0.3s all;

        &:hover {
          color: $sky;
        }
      }
    }
  }

  .ContactForm {
    margin-top: 8rem;

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      width: 100%;
      border: none;
      border-bottom: thin solid rgba($base, 0.35);
      padding: 0.5rem 0;
      font-family: $secondaryFont;
      margin-bottom: 4rem;

      &:focus {
        outline: none;
      }
    }

    label {
      width: 100%;
      display: block;
      font-size: 1.6rem;
      font-family: $secondaryFont;
      color: rgba($base, 0.75);
      margin-bottom: 0.5rem;
    }
    small {
      display: none;
      font-family: inherit;
      margin-top: -3.5rem;
      margin-bottom: 4rem;
    }

    textarea {
      width: 100%;
      border: thin solid rgba($base, 0.35);
      height: 150px;
      margin-bottom: 4rem;
      &:focus {
        outline: none;
      }
    }

    p {
      display: inline-block;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        background: url(../img/arw-right.svg) no-repeat;
        width: 2.4rem;
        height: 2.4rem;
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        right: 4rem;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s all;
      }

      &:hover {
        &:after {
          right: 3.5rem;
        }
      }

      input[type="submit"] {
        font-size: 1.6rem;
        font-family: $secondaryFont;
        color: $base;
        background-color: #f4f4f4;
        border: none;
        cursor: pointer;
        padding: 1.5rem 8rem 1.5rem 5rem;
        transition: 0.3s all;

        &:hover {
          background-color: #ccc;
          color: $white;
        }
      }
    }

    p.error-message {
      font-size: 1.4rem;
      color: #d8000c;
      background-color: #ffd2d2;

      &::after {
        display: none;
      }
    }
  }
}

.iti__flag {
  background-image: url("assets/img/flag.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("assets/img/flag@2x.png");
  }
}
.iti {
  display: block !important;
  margin-bottom: 4rem !important;
}
#intl-phone {
  padding-left: 6rem;
}

body.rtl {
  .ContactUsSection {
    .TopHeading {
      display: block;

      h2 {
        color: $base;
        margin-bottom: 0.8rem;
      }

      h4 {
        font-family: $secondaryFont;
        margin-bottom: 2rem;
      }
    }

    .AddressBlock {
      .Address {
        margin-top: 4rem;

        @media (max-width: 767px) {
          margin-bottom: 4rem;
        }

        h4 {
          font-family: $secondaryFont;
          font-weight: normal;
          color: $base;
          font-size: $step-01;
          margin-bottom: 0.8rem;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          flex-direction: row-reverse;

          img {
            width: 1.6rem;
            display: inline-block;
            margin-right: 0;
            margin-left: 1.6rem;
          }
        }

        div {
          margin-left: 3.2rem;

          p {
            color: $base;
            margin-bottom: 0.4rem;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              text-decoration: none;
              color: $base;
            }
          }
        }
      }
    }

    .Details {
      h3 {
        //font-size: 4rem;
        font-family: $secondaryFont;
        color: $base;
        font-weight: normal;
        margin-bottom: 0.8rem;
      }

      h4 {
        font-size: 2rem;
        font-family: $secondaryFont;
        font-weight: normal;
        color: $base;
        margin-bottom: 0.8rem;
      }

      h5 {
        font-size: 2rem;
        font-family: $secondaryFont;
        font-weight: normal;
        margin-bottom: 1.5rem;

        a {
          color: #888888;
          text-decoration: none;
          transition: 0.3s all;

          &:hover {
            color: $sky;
          }
        }
      }
    }

    .ContactForm {
      margin-top: 8rem;

      input[type="text"],
      input[type="email"],
      input[type="tel"] {
        width: 100%;
        border: none;
        border-bottom: thin solid rgba($base, 0.35);
        padding: 0.5rem 0;
        font-family: $secondaryFont;
        margin-bottom: 4rem;
        // unicode-bidi: bidi-override;
        direction: RTL;
        &:focus {
          outline: none;
        }
      }

      label {
        width: 100%;
        display: block;
        font-size: 1.6rem;
        font-family: $secondaryFont;
        color: rgba($base, 0.75);
        margin-bottom: 0.5rem;
      }
      small {
        display: none;
        font-family: inherit;
        margin-top: -3.5rem;
        margin-bottom: 4rem;
      }

      textarea {
        width: 100%;
        border: thin solid rgba($base, 0.35);
        height: 150px;
        margin-bottom: 4rem;
        direction: RTL;
        &:focus {
          outline: none;
        }
      }

      p {
        display: inline-block;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          background: url(../img/arw-right.svg) no-repeat;
          width: 2.4rem;
          height: 2.4rem;
          background-position: 50% 50%;
          background-size: contain;
          background-repeat: no-repeat;
          right: 4rem;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.3s all;
        }

        &:hover {
          &:after {
            right: 3.5rem;
          }
        }

        input[type="submit"] {
          font-size: 1.6rem;
          font-family: $secondaryFont;
          color: $base;
          background-color: #f4f4f4;
          border: none;
          cursor: pointer;
          padding: 1.5rem 8rem 1.5rem 5rem;
          transition: 0.3s all;

          &:hover {
            background-color: #ccc;
            color: $white;
          }
        }
      }

      p.error-message {
        font-size: 1.4rem;
        color: #d8000c;
        background-color: #ffd2d2;

        &::after {
          display: none;
        }
      }
    }
  }
  .iti__flag-container {
    right: 0;
    left: auto;
  }

  #intl-phone {
    padding-left: 0;
    padding-right: 6rem;
  }
}
