.FaqSection {
  padding: 10rem 0;
  position: relative;
  min-height: 100vh;

  @media (max-width: 767px) {
    padding: 3rem 0;
  }

  .faqSectionHeading {
    position: -webkit-sticky;
    position: sticky;
    //transform: translateY(-50%);
    top: 10rem;
    left: 0;
    align-self: flex-start;

    @media (max-width: 767px) {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 2rem;
    }
  }

  h2 {
    color: $base;
  }

  h4 {
    font-family: $secondaryFont;
  }

  .accordionWrapper {
    padding: 0px;
    width: 100%;

    @media (max-width: 767px) {
      margin-top: 2rem;
    }

    .accordionItem {
      display: block;
      width: 100%;
      border: thin solid #c9c9c9;
      border-radius: 3px;
      background-color: #f2f6fd;
      margin-bottom: 1.6rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .accordionItemHeading {
      cursor: pointer;
      margin: 0px;
      padding: 1rem;
      width: 100%;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 1.6rem;
      font-family: $secondaryFont;
      color: #626262;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span.question {
        width: 90%;
      }
      span.plusIcon {
        width: 2.4rem;
        height: 2.4rem;
        display: inline-block;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          background: $sky;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(0);
        }

        &::before {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          background: $sky;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(90deg);
          transition: 0.2s ease-in;
        }
      }
    }

    .open .accordionItemHeading {
      span.plusIcon {
        &::before {
          opacity: 0;
        }
      }
    }

    .accordionItemContent {
      padding: 0 1rem;
      background: #fff;
      max-height: 0;
      //height: 0;
      //padding: 0 1rem;
      visibility: hidden;
      transition: none;
      font-weight: 400;
      transition: 400ms ease;
      p {
        opacity: 0;

        transition: 100ms ease;
        transition-delay: 0;
      }
    }

    .open .accordionItemContent {
      //	height: auto;
      padding: 1rem;
      max-height: 15rem;
      //padding: 2rem;
      visibility: visible;
      transition: 600ms ease;

      p {
        opacity: 1;

        transition: 400ms ease 300ms;
      }
      //border: 1px solid red;
    }

    .accordionItemContent {
    }
  }
}

body.rtl {
  .FaqSection {
    padding: 10rem 0;
    position: relative;
    min-height: 100vh;

    .container {
      .row {
        flex-direction: row-reverse;
      }
    }

    @media (max-width: 767px) {
      padding: 3rem 0;
    }

    .faqSectionHeading {
      position: -webkit-sticky;
      position: sticky;
      //transform: translateY(-50%);
      top: 10rem;
      left: 0;
      align-self: flex-start;

      @media (max-width: 767px) {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 2rem;
      }
    }

    h2 {
      color: $base;
    }

    h4 {
      font-family: $secondaryFont;
    }

    .accordionWrapper {
      padding: 0px;
      width: 100%;

      @media (max-width: 767px) {
        margin-top: 2rem;
      }

      .accordionItem {
        display: block;
        width: 100%;
        border: thin solid #c9c9c9;
        border-radius: 3px;
        background-color: #f2f6fd;
        margin-bottom: 1.6rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .accordionItemHeading {
        cursor: pointer;
        margin: 0px;
        padding: 1rem;
        width: 100%;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 1.6rem;
        font-family: $secondaryFont;
        color: #626262;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;

        span.question {
          width: 90%;
        }
        span.plusIcon {
          width: 2.4rem;
          height: 2.4rem;
          display: inline-block;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            background: $sky;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0);
          }

          &::before {
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            background: $sky;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            transition: 0.2s ease-in;
          }
        }
      }

      .open .accordionItemHeading {
        span.plusIcon {
          &::before {
            opacity: 0;
          }
        }
      }

      .accordionItemContent {
        padding: 0 1rem;
        background: #fff;
        max-height: 0;
        //height: 0;
        //padding: 0 1rem;
        visibility: hidden;
        transition: none;
        font-weight: 400;
        transition: 400ms ease;
        p {
          opacity: 0;

          transition: 100ms ease;
          transition-delay: 0;
        }
      }

      .open .accordionItemContent {
        //	height: auto;
        padding: 1rem;
        max-height: 15rem;
        //padding: 2rem;
        visibility: visible;
        transition: 600ms ease;

        p {
          opacity: 1;

          transition: 400ms ease 300ms;
        }
        //border: 1px solid red;
      }

      .accordionItemContent {
      }
    }
  }
}

.Gallery {
  padding: 10rem 0;
  position: relative;

  @media (max-width: 767px) {
    padding: 3rem 0;
  }

  .galleryHeading {
    position: -webkit-sticky;
    position: sticky;
    //transform: translateY(-50%);
    top: 10rem;
    left: 0;
    align-self: flex-start;

    @media (max-width: 767px) {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 4rem;
    }
  }

  h2 {
    color: $base;
  }

  h4 {
    font-family: $secondaryFont;
    font-weight: 600;
  }

  .GalleryTabs {
    .buttons {
      margin-bottom: 2.5rem;

      a {
        display: inline-block;
        cursor: pointer;
        font-size: 1.6rem;
        font-family: $secondaryFont;
        color: $base;
        margin-right: 3rem;

        &.active {
          color: $sky;
        }
      }
    }

    .tab-content {
      margin: auto;
      text-align: center;
      display: none;

      &#first {
        display: block;
      }
    }

    @-webkit-keyframes fadeEffect {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadeEffect {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .grid {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: 20px;
    }

    .flexbox {
      display: flex;
      //	flex-direction: column;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      //@debug	height: 85vw;
      overflow: hidden;

      &:hover {
        img {
          opacity: 0.28;
        }
      }

      // Each flex item
      .item {
        position: relative;
        width: 33.33%; // 3 column
        height: 20rem;

        @media (max-width: 767px) {
          height: auto;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          transition: all 0.8s;
          filter: grayscale(100%);
        }

        .title {
          position: absolute;
          top: 48%;
          left: 0;
          width: 100%;
          padding: 0 3%;
          font-size: 30px;
          text-shadow: 0 0 8px rgba(0, 0, 0, 0.42);
        }

        &:hover {
          img {
            opacity: 1;
            filter: grayscale(0%);
          }
        }
      }
    }

    // Mediaqueries
    @media (max-width: 860px) {
      // set to 2 column
      .flexbox {
        //height: 220vw;

        .item {
          width: 50%;
        }
      }
    }

    @media (max-width: 667px) {
      // set to 1 column
      .flexbox {
        height: auto;

        .item {
          width: 100%;
        }
      }
    }
  }
}

body.rtl {
  .Gallery {
    .container {
      .row {
        flex-direction: row-reverse;
      }
    }
  }
  .Gallery .GalleryTabs .buttons a {
    margin-right: unset;
    margin-left: 3rem;
  }

  .Gallery .GalleryTabs .buttons {
    display: flex;
    flex-direction: row-reverse;
  }
}

.video-popup {
  position: relative;

  .mfp-close-btn-in .mfp-close {
    color: #fff !important;
  }

  video {
    max-width: 100%;
    max-height: 85vh;
    object-fit: contain;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
    overflow-y: hidden;
  }
}

.mfp-close-btn-in .mfp-close {
  color: #fff !important;
}
