.general_content {
  min-height: 100vh;
  max-width: 75%;
  padding: 6rem 0;

  @media (max-width: 991px) {
    max-width: 100%;
  }

  & > * {
    font-family: $secondaryFont;
    line-height: 1.6;
  }
  div {
    margin-bottom: 1.6rem;
  }

  h2 {
    font-size: $step-05;
    font-weight: 500;
    margin-bottom: 2.4rem;
    font-family: $lightFont;
    line-height: 1.2;

    @media (max-width: 768px) {
      font-size: $step-03;
    }
  }

  h3 {
    margin-bottom: 0.8rem;
    font-size: 2.1rem;
    font-weight: 600;
    font-family: $lightFont;
    line-height: 1.4;
  }
  h4 {
    font-size: 1.8rem;
    font-family: $lightFont;
  }
  p,
  .p-body-text {
    margin-bottom: 1.6rem;
    line-height: 1.6;
  }

  li {
    margin-bottom: 0.8rem;
  }
}
