.videoSection-videoPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  min-height: 100vh;
  video {
    width: 100%;
    display: block;
  }
  .videoPoster {
    width: 100px;
    height: 100px;
    z-index: 1;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;

    @media (min-width: 992px) {
      width: 200px;
      height: 200px;
    }

    &:focus {
      outline: none;
    }
  }
}
