@font-face {
    font-family: 'FS Albert Arabic';
    src: url('FSAlbertArabic-Regular.woff2') format('woff2'),
        url('FSAlbertArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Arabic';
    src: url('FSAlbertArabic-Bold.woff2') format('woff2'),
        url('FSAlbertArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Arabic';
    src: url('FSAlbertArabic-ExtraBold.woff2') format('woff2'),
        url('FSAlbertArabic-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Arabic';
    src: url('FSAlbertArabic-Light.woff2') format('woff2'),
        url('FSAlbertArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS Albert Arabic';
    src: url('FSAlbertArabic-Thin.woff2') format('woff2'),
        url('FSAlbertArabic-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body, html, * {
    font-family: 'FS Albert Arabic' !important;
}

.large-headings {
    font-size: 60px;
    font-weight:  400;
}
html[dir=rtl] body .HomeBanner .LearnMore a {
    padding:  0rem 1rem;
}

.wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] {
    direction:  rtl !important;
}

.wpcf7 {
    direction:  rtl;
}

.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    right:  0; left:  auto;
}

#intl-phone {
    padding-right:  6rem;
    padding-left:  0;
    direction: ltr;
    text-align: right;
}

.iti__selected-flag {
    flex-direction:  row-reverse;
}

.ContactUsSection .AddressBlock .Address h4 img {
    margin-left:  1.6rem;
    margin-right: 0;
}

.gs_reveal_heading {
    line-height:  1.5;
}

.ContactUsSection .TopHeading h4 {
    line-height:  1.7;
}

@media only screen and (min-width: 1025px) {
    .large-headings {
        font-size:  56px;
    }
    .home_hero_title {
        line-height: 1.2;
        padding-left:  100px;

    }
    .GradientText {
        font-size:  1.8em;
    }
    .HomeBanner .BannerContent .BannerText p,  {
        font-size:  1.4em;
        padding-left:  40px;
    }
    .RightContentWithBg .RightContentbox p {
        font-size:  1.4em;
    }
    html[dir=rtl] body .HomeBanner .BannerText ul li, html[dir=rtl] body .HomeBanner .BannerText p {
        font-size:  1.4em;
    }
    .BgVideoWithFiveCards .FiveCardsBlock .TwoCardsRow .Cards h3 {
        padding: 0 1em;
    }
}
.faqSectionHeading .GradientText {
    line-height: 1.8;
}

/*body.home .Cards {
    max-width:  250px;
}*/

